# ~/.aliases

# enable color 
test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"

#alias ls='ls -h --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias less='less --use-color'
alias diff='diff --color'
alias hexedit='hexedit --color'
alias ip='ip --color'
alias yay='yay --color=auto'

# ls aliases
alias ls='eza -ho --icons --git'
alias l='ls -h'
alias ll='ls -lh'
alias la='ls -ah'
alias lsa='ls -lah'
alias lsd='ls -D --total-size'
alias lsf='ls -fhF'

# handy system cmds 
alias cd='z'
alias cp='nocorrect cp -i'
alias md='mkdir -p'
alias mkdir='nocorrect mkdir'
alias mv='nocorrect mv -i'
alias rd='rmdir'
alias rm='rm -i'
alias df='duf -hide special'

# command replacements
alias cat='bat --paging=never --style=plain'
alias pcat='bat --paging=auto --style=auto'

# todo.txt
alias t='$(which todo.sh) -a'

# APT
alias age='sudo apt'
alias agi='sudo apt install'
alias agr='sudo apt remove'
alias agu='sudo apt update'
alias agud='sudo apt update && sudo apt dist-upgrade'
alias agug='sudo apt upgrade'
alias aguu='sudo apt update && sudo apt upgrade'

# nocorrect
alias man='nocorrect man'
alias su='nocorrect su'
alias sudo='nocorrect sudo'

# fzf
alias fkill='fzf-kill'
