# ~/.aliases

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias less='less --use-color'
alias diff='delta --color-only'
alias hexedit='hexedit --color'
alias ip='ip --color'
alias yay='yay --color=auto'

# ls aliases
alias ls="eza -ho --time-style='+%Y-%m-%d %H:%M' --icons --git"
alias l='ls -h'
alias lSd='ls -Dl --total-size --git-repos'
alias la='ls -ah'
alias ll='ls -lh'
alias llsd='ls -Dl --git-repos'
alias lsa='ls -lah'
alias lsd='ls -D --git-repos'
alias lsf='ls -fhF'
alias lt='ls --tree'

# handy system cmds 
alias cd='z'
alias cp='nocorrect cp -i'
alias md='mkdir -p'
alias mkdir='nocorrect mkdir'
alias mv='nocorrect mv -i'
alias rd='rmdir'
alias rm='rm -i'
alias df='duf -hide special'
alias rmhost='ssh-keygen -f ~/.ssh/known_hosts -R'

# command replacements
alias cat='bat --paging=never --style=plain'
alias pcat='bat --paging=auto --style=auto'

# todo.txt
alias t='$(which todo.sh) -a'

# Arch
alias yay='nocorrect yay'
alias pacman='nocorrect pacman'

# Ubuntu
alias age='sudo apt'
alias agi='sudo apt install'
alias agr='sudo apt remove'
alias agu='sudo apt update'
alias agud='sudo apt update && sudo apt dist-upgrade'
alias agug='sudo apt upgrade'
alias aguu='sudo apt update && sudo apt upgrade'

# nocorrect
alias man='nocorrect man'
alias su='nocorrect su'
alias sudo='nocorrect sudo'

# fzf
alias fkill='fzf-kill'

# git
alias g='git'
alias gP='git push'
alias ga='git add'
alias gc='git commit'
alias gcm='git commit -m'
alias gco='git checkout'
alias gd='git diff'
alias gf='git fetch'
alias glog='git log --oneline'
alias gp='git pull'
alias gr='git remote'
alias grm='git rm'
alias grmc='git rm --cached'
alias grs='git restore'
alias grset='git remote set-url'
alias grst='git restore --staged'
alias grup='git remote update'
alias gsb='git status --short --branch'
alias gss='git status --short'
alias gst='git status'
alias 'glog!'='git log'

# yadm
alias y='yadm'
alias yP='yadm push'
alias ya='yadm add'
alias yc='yadm commit'
alias ycm='yadm commit -m'
alias yco='yadm checkout'
alias yd='yadm diff'
alias ydc='yadm decrypt'
alias yf='yadm fetch'
alias ylog='yadm log --oneline'
alias ync='yadm encrypt'
alias yp='yadm pull'
alias yr='yadm remote'
alias yrm='yadm rm'
alias yrmc='yadm rm --cached'
alias yrs='yadm restore'
alias yrset='yadm remote set-url'
alias yrst='yadm restore --staged'
alias yrup='yadm remote update'
alias ysb='yadm status --short --branch'
alias yss='yadm status --short'
alias yst='yadm status'
alias 'ylog!'='yadm log'

# LazyGit (yadm)
alias lazyy='lazygit -ucd ~/.local/share/yadm/lazygit -w ~ -g ~/.local/share/yadm/repo.git'

# tmux
alias ta='tmux attach'
alias tkill='tmux kill-server'
alias tks='tmux kill-session -t'
alias tl='tmux list-sessions'
alias tmv='tmux rename -t'
alias tns='tmux new -s'

# SSH
alias ssh='ssh -o AddKeysToAgent=yes'
