.DS_Store
.Trash/
.cache/
.cargo/
.docker/
.gitkraken/
.local/share/
.local/state/nvim/
.npm/
.platformio/
.quokka/
.tldrc/
.vscode/
.zcompdump*
.zsh
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
go/
