!nvim/lua/plugins/**
**/*backup*/**
**/AppSupport
**/plugins/**
*.bak
*.log
*.tmp
Bitwarden/**
Code/**
GIMP/**
Nextcloud/**
Signal/**
btop/themes/**
chromium/**
discord/**
espanso/match/packages/**
gtkfilechooser.ini
nvim.**/
obsidian/**
raycast/extensions/**
yarn/**
xfce4/**